/* Add your own custom styles here */
body {
	background-image: url('{{ "/images/background.jpg" | resources.Get | relPermalink }}');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
html {
	scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 10rem; 
}
