/* Add your own custom styles here */
body {
	background-image: url('{{ "/images/background.jpg" | resources.Get | relPermalink }}');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

ul {
  list-style: none;
  list-style-image: url("/images/tn-tristar.svg");
  list-style-position: inside;
}
